<!-- Describe task in general -->

<p>
    Every other element of a give array should be changed to 0, starting with the first one.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 150px"/>
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input: </strong> {% if interpreter.slug == "js-node" %}Array{% else %}Iterable{% endif %}
</p>

<p>
    <strong>Output: </strong> {% if interpreter.slug == "js-node" %}Array{% else %}Iterable{% endif %}
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Example:</strong>
    </p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">everyOther([1, 2, 3, 4, 5]) == [0, 2, 0, 4, 0]
everyOther([0, 0, 0]) == [0, 0, 0]
</pre>
{% else %}
<pre class="brush: python">every_other([1, 2, 3, 4, 5]) == [0, 2, 0, 4, 0]
every_other([0, 0, 0]) == [0, 0, 0]
</pre>
{% endif %}
</div>

